.selected-list.external-list {
  display:          none;
  max-width:        301px;
  width:            100%;
  max-height:       283px;
  overflow:         auto;
  border:           3px solid #D0D5DD;
  border-radius:    6px;
  position:         absolute;
  top:              57%;
  left:             27.5%;
  background-color: white;
  padding:          0 10px 10px;
  cursor:           pointer;
  .selected-block {
    display:         flex;
    justify-content: space-between;
  }
  .selected-icon {
    opacity: 0;
    &-active {
      opacity: 1;
    }
    &-active-click {
      transform: rotate(180deg);
    }
  }
  li {
    padding-top: 10px;
    .selected-icon-check {
      display: none;
      &-active {
        display: block !important;
      }
    }
    .selected-list {
      display: none;
      &-active {
        display: block !important;
      }
    }
    li {
      padding-left: 12px;
      span:first-of-type {
        color:         #98A2B3;
        padding-right: 5px;
      }
    }
  }
  .selected-folder {
    display:     flex;
    align-items: center;
  }
  .selected-icon, .icon-second {
    width:        14px;
    margin-right: 7px;
  }
}


